<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8EBBEB8B1E6FA812009E2CF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EBBEB9F1E6FA813009E2CF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EBBEBAA1E6FA813009E2CF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
